.zipCodeForm {
  position: sticky;
  top: 0;
  background: grey;
  z-index: 1;
  padding: 16px;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
  transform: translateZ(0);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading {
  margin: 0;
  padding: 8px;
}

.weatherList {
  position: relative;
}

.weatherGroup {
  top: 0;
  background-color: rgba(255, 255, 255, 0.31);
}

.weatherGroup h2 {
  font-size: 1.2rem;
  position: sticky;
  top: 48px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.31);
  backdrop-filter: saturate(180%) blur(5px);
}

.weatherGroup ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.weatherGroup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
